/*
 *  MEMORY
 *  fichier style.css
 *  
 *  Ce fichier contient le code CSS "principal",
 *  et en général tout ce qui n'est pas dans les
 *  fichiers game.css et controls.css.
 *
 *  Baptiste DELPHIN - Mai 2021
 *
 */

html, body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body
{
    height: 100vh;
    background-image: 
    linear-gradient(90deg, rgba(0,0,0,0.15) 0%, 
    rgba(255,255,255,0) 20%, 
    rgba(255,255,255,0) 50%, 
    rgba(255,255,255,0) 80%, 
    rgba(0,0,0,0.15) 100%), 
    url("../assets/pattern.webp");
    background-repeat: repeat;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

h1
{
    font-size: 4rem;
    margin: 0;
}

h2
{
    font-size: 2rem;
}

ul 
{
    list-style-type: none;
    padding: 0;
    font-size: 1.5rem;
    text-align: left;
}

p
{
    font-family: 'Open Sans', sans-serif;
    margin: 0px 80px 10px 80px;
}


/* Styles spécifiques (par ID) : */

#highscores
{
    margin: -30px auto -10px auto;
    display: inline-block;
}

#game, #game_over, #game_won
{ 
    display: none;
}

#footer
{
    margin-top: 20px;
    font-size: 3rem;
    padding: 10px 20px 0px 20px;
}

#footer i
{
    color: gray;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}

#footer i:hover
{
    color: black;
}

#header
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px !important;
}

#new_highscore
{
    font-size: 2rem;
}

#new_highscore i
{
    margin: 0px 10px 0px 10px;
}

#header img
{
    display: inline;
}


/* Classes : */

.floatleft
{
    float: left;
}

.floatright
{
    float: right;
}
.screen
{
    background-color: #ddd;
    margin: auto;
    width: 760px;
    padding: 20px;
    box-shadow: 5px 5px gray;
}


